.container{
    background-color: aquamarine;
    border: aqua outset;
    border-radius: 5em;
    
}

.nav {
    background-color: aliceblue;
    border-radius: 10px;
    display: flex;
    justify-content: space-between;
    padding: 15px 30px;
    margin-bottom: 20px;
    float: left;

}

#searchBar {

    display: block;
    float: right;
}

.nav img{
    filter: hue-rotate(100deg);
}